/* Regole generali */
body {
    margin: 0;
    background-color: #e9e9e9;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Stile dell'header */
.head-title {
    height: 80px;
    border: 1px solid black;
    background-color: #fff;
}

.head-title h1 {
    margin: 0;
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    vertical-align: middle;
}

.head-title img {
    vertical-align: middle;
    width: 60px;
    padding: 10px;
    padding-right: 0;
}

/* Stile del main */
.container {
    background-color: #fff;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    margin-top: 40px;
}

/* Stile del div testata */
.head-content {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .head-content .btn {
    padding: 7px;
    border: 1px solid;
    border-radius: 10px;
}

.container .head-content .blue {
    color: #fff;
    background-color: rgb(18, 184, 240);
    border-color: rgb(18, 184, 240);
}

.container .head-content .gray {
    color: rgb(209, 202, 202);
    background-color: #fff;
    border-color: rgb(209, 202, 202);
}

/* Stile del div contenuto */
.main-content {
    padding-left: 60px;
    font-weight: bold;
}

.main-content h2::before {
    content: "\2BC6";
}

.main-content .true::before {
    content: "\002714";
    color: rgb(5, 172, 5);
    border: 1px solid rgb(5, 172, 5);
}

.main-content .false::before {
    content: "\002716";
    color: rgb(221, 0, 0);
    border: 1px solid rgb(221, 0, 0);
}
.main-content .check::before {
    margin: 8px;
    padding: 3px;
    border-radius: 50%;
}
